<div class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                (click)="closeModal()">
          <span>×</span>
        </button>
        <h4 class="modal-title">Filter</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="period">Choose a period</label>
          <select class="form-control"
                  id="period"
                  [(ngModel)]="selectedPeriod">
            <option disabled hidden [ngValue]="''">Choose a period</option>
            <option *ngFor="let period of data.historyFilterData.period"
                    [ngValue]="period.type">
              {{period.label}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label">Choose the event type</label>
          <div>
            <label *ngFor="let eventType of data.historyFilterData.eventTypes">
              <input
                class="checkbox"
                type="checkbox"
                [checked]="eventType.checked"
                [value]="eventType.type"
                (change)="selectEventType($event.target, eventType)">
              <span>
                {{eventType.label}}
              </span>
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Choose a category</label>
          <div>
            <label *ngFor="let category of data.historyFilterData.categories">
              <input
                class="checkbox"
                type="checkbox"
                [checked]="category.checked"
                [value]="category.id"
                (change)="selectCategory($event.target, category)">
              <span>{{category.name}}</span>
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button"
                  class="btn btn-secondary"
                  (click)="closeModal()">
            Cancel
          </button>
          <button type="button"
                  class="btn btn-primary"
                  (click)="applyFilter()">
            Apply
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
