<div class="title-block">
  <h3 class="title">
    Records page
    <span class="sparkline bar"></span>
  </h3>
</div>

<section class="section" *ngIf="isLoaded">
  <div class="row">
    <div class="col-md-6">
      <acc-add-event [categories]="categories">
      </acc-add-event>
    </div>
    <div class="col-md-6">
      <acc-add-category (addNewCategory)="onAddCategory($event)">
      </acc-add-category>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <acc-edit-category [categories]="categories"
                         (editNewCategory)="editNewCategory($event)">
      </acc-edit-category>
    </div>
  </div>
</section>

<section class="section text-center" *ngIf="!isLoaded">
  <acc-loader></acc-loader>
</section>
