<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bordered">
          <div class="header-block">
            <h3 class="title">Events list</h3>
          </div>
          <div class="form-inline pull-right m-r-2">
            <div class="form-group search-value__container">
              <label for="search-value"></label>
              <input
                type="text"
                class="form-control"
                id="search-value"
                [placeholder]="searchPlaceholder"
                [(ngModel)]="searchValue">
            </div>
            <div class="btn-group" accDropdown>
              <button type="button" class="btn btn-secondary dropdown-toggle ">
                Параметр
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" (click)="getSearchValue('amount')">Amount</a>
                <a class="dropdown-item" (click)="getSearchValue('date')">Date</a>
                <a class="dropdown-item" (click)="getSearchValue('categoryName')">Category</a>
                <a class="dropdown-item" (click)="getSearchValue('type')">Type</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-block">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>#</th>
              <th>Amount</th>
              <th>Date</th>
              <th>Category</th>
              <th>Type</th>
              <th class="text-lg-center">
                Category name
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let event of events | searchFilter:searchValue:searchField; let ind = index;">
              <th scope="row">
                {{ind + 1}}
              </th>
              <td>
                {{event.amount}}
              </td>
              <td>
                {{event.date | accMoment: 'DD.MM.YY HH:mm:ss'}}
              </td>
              <td>
                {{event.categoryName}}
              </td>
              <td>
                <span [ngClass]="getEventClass(event)">
                  <span *ngIf="event.type === 'outcome'">Outcome</span>
                  <span *ngIf="event.type === 'income'">Income</span>
                </span>
              </td>
              <td class="text-lg-center">
                <a [routerLink]="['/system/history', event.id]" class="btn btn-primary-outline">Open</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
